AAA/.vs/AAA/v17/.suo
AAA/.vs/AAA/FileContentIndex/24c21095-ca4e-44d6-b892-f05b6388a654.vsidx
AAA/.vs/AAA/FileContentIndex/607cd26c-95d5-4c82-873b-8b90e2d03f8d.vsidx
AAA/.vs/AAA/FileContentIndex/9a6780a4-f727-4773-bd63-45a63b7d1fa4.vsidx
AAA/.vs/AAA/FileContentIndex/ade76144-0820-4af0-ac22-30f432e4ace0.vsidx
AAA/.vs/AAA/v17/.suo
AAA/AAA/bin/Debug/AAA.exe
AAA/AAA/bin/Debug/AAA.pdb
AAA/AAA/obj/Debug/AAA.csproj.CoreCompileInputs.cache
AAA/AAA/obj/Debug/AAA.csproj.FileListAbsolute.txt
AAA/AAA/obj/Debug/AAA.csproj.GenerateResource.cache
AAA/AAA/obj/Debug/AAA.exe
AAA/AAA/obj/Debug/AAA.pdb
AAA/AAA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
