AAA/.vs/AAA/FileContentIndex/96fcd93f-69e5-4bed-9fcd-bd84fd89081f.vsidx
AAA/.vs/AAA/FileContentIndex/96fcd93f-69e5-4bed-9fcd-bd84fd89081f.vsidx
AAA/.vs/AAA/FileContentIndex/c482e8be-8959-4001-a5e7-b78eb198156c.vsidx
AAA/.vs/AAA/v17/DocumentLayout.json
AAA/.vs/AAA/v17/DocumentLayout.backup.json
AAA/.vs/AAA/v17/.suo
AAA/AAA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AAA/.vs/AAA/v17/DocumentLayout.backup.json
AAA/.vs/AAA/CopilotIndices/17.14.1091.29919/CodeChunks.db
AAA/.vs/AAA/v17/.suo
